<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>template</title>
	<link rel="icon" href="assets/favicon.png" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Bevan|Source+Sans+Pro:bold" rel="stylesheet" />
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="assets/logo_hover.js"></script>
</head>

<body>
<table class="menubar">
	<tr>
		<td id="title">		
			<a id="sounddiv" href="index.html">
				<img onmouseover="playclip();" src="assets/logo.png" alt="logo" width="100px"/>
			</a>
			<audio><source src="assets/ggez.mp3" /></audio>
			<a id="logo" href="index.html">APU EXTREME ESPORTS CLUB</a>
		</td>
		<td id="navmenubar">
			<ul>
			<li><a href="index.html">HOME</a></li> 
			<li class="divider">|</li> 
			<li><a href="events.html">EVENTS</a></li> 
			<li class="divider">|</li>
			<li><a href="tutorials.html">GAMING TUTORIALS</a></li> 
			<li class="divider">|</li>
			<li><a href="about.html">ABOUT</a></li> 
			<li class="divider">|</li> 
			<li><a href="register.html">REGISTER</a></li>
			</ul>
		</td>
	</tr>
</table>
	<table class="thumbnail" cellspacing="0px">
		<tr>
			<td><img id="img1" src="assets/header.jpg" alt="" style="object-position:top;"/></td>
		</tr>
	</table>
	<table cellspacing="10px" width="100%">
	<tr>
	<td class="content" width="80%">
		<div id="content">
		<h1 class="h1">Lorem ipsum dolor sit amet.</h1>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium, lorem sed ultrices interdum, 
		lacus odio sodales turpis, quis varius lorem metus quis justo. Morbi in odio aliquet magna pharetra egestas. 
		Nulla at nibh quis leo interdum ultricies. Praesent et eros nec ex tristique ornare at eget erat. Aliquam 
		odio nulla, feugiat vel dui ac, malesuada varius urna. Phasellus maximus elementum dolor, at vestibulum 
		arcu lobortis in. Nunc non enim rutrum, placerat ante a, auctor nunc. Maecenas accumsan dolor risus, eu 
		iaculis arcu lacinia sit amet. Praesent efficitur eu nibh ut tincidunt. Curabitur cursus tortor enim, et 
		accumsan nulla malesuada faucibus. Donec ligula mauris, pulvinar id dolor sit amet, ullamcorper molestie diam.
		<br/><br/>

		Donec et lectus at velit pretium porttitor sit amet feugiat orci. Praesent at gravida mi. Curabitur finibus 
		blandit nulla, at egestas neque vulputate ut. Curabitur finibus elit non quam semper, ultricies lobortis ex 
		placerat. Mauris eu posuere tortor, quis porttitor sem. Nunc nec pellentesque nulla, vel tempus augue. 
		Morbi aliquet nibh eget euismod tempus. Sed tincidunt elementum pretium. Morbi pharetra ipsum non est sodales 
		eleifend.
		<br/><br/>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium, lorem sed ultrices interdum, 
		lacus odio sodales turpis, quis varius lorem metus quis justo. Morbi in odio aliquet magna pharetra egestas. 
		Nulla at nibh quis leo interdum ultricies. Praesent et eros nec ex tristique ornare at eget erat. Aliquam 
		odio nulla, feugiat vel dui ac, malesuada varius urna. Phasellus maximus elementum dolor, at vestibulum 
		arcu lobortis in. Nunc non enim rutrum, placerat ante a, auctor nunc. Maecenas accumsan dolor risus, eu 
		iaculis arcu lacinia sit amet. Praesent efficitur eu nibh ut tincidunt. Curabitur cursus tortor enim, et 
		accumsan nulla malesuada faucibus. Donec ligula mauris, pulvinar id dolor sit amet, ullamcorper molestie diam.
		<br/><br/>

		Donec et lectus at velit pretium porttitor sit amet feugiat orci. Praesent at gravida mi. Curabitur finibus 
		blandit nulla, at egestas neque vulputate ut. Curabitur finibus elit non quam semper, ultricies lobortis ex 
		placerat. Mauris eu posuere tortor, quis porttitor sem. Nunc nec pellentesque nulla, vel tempus augue. 
		Morbi aliquet nibh eget euismod tempus. Sed tincidunt elementum pretium. Morbi pharetra ipsum non est sodales 
		eleifend.
		<br/><br/>
		</div>
	</td>
	<td class="submenu" width="20%">
	<div id="submenu">
		<a class="twitter-timeline" data-lang="en" data-height="1000" data-theme="dark" href="https://twitter.com/ESPN_Esports?ref_src=twsrc%5Etfw">Tweets by ESPN_Esports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<br/>
	</div>
	</td>
	</tr>
	</table>
	<table class="footer">
		<tr>
			<td width="10%">
			</td>
			<td width="20%">
				<a href="index.html" style="font-family: Impact; font-size: 28px;">
					<img onmouseover="playclip();" src="assets/logo.png" alt="logo" width="200px" style="vertical-align: middle;"/>
					<br/>&nbsp;
				</a>
			</td>
			<td width="15%">
				<a href="index.html">
					Home
				</a><br/>
				<a href="about.html">
					About Us
				</a><br/>
				<a href="events.html">
					Events
				</a><br/>
				<a href="news.html">
					News and Media
				</a><br/>
				<a href="">
					<br/>
				</a>
			</td>
			<td width="15%">
				<a href="meetings.html">
					Club Meetings
				</a><br/>
				<a href="rules.html">
					Rules and Regulations
				</a><br/>
				<a href="attire.html">
					Attire/Equipment
				</a><br/>
				<a href="members.html">
					Member List
				</a><br/>
				<a href="tutorials.html">
					Gaming Tutorials
				</a>
			</td>
			<td width="15%">
				<a href="register.html">
					Register
				</a><br/>
				<a href="feedback.html">
					Enquire/Feedback
				</a><br/>
				<a href="https://www.facebook.com/apuesportsclub/">
					Join us in Facebook
				</a><br/>
				<a href="">
					<br/>
				</a>
				<a href="">
					<br/>
				</a>
			</td>
			<td width="25%">
			</td>
		</tr>
		<tr>
			<td id="footer" colspan="6">
				&copy; 2019 FetchOrbis: Cheng Wei Lun, Mun Chee Wah, Woo E-Than, Yap Chee Sing. All Rights Reserved.
			</td>
		</tr>
	</table>
</body>
</html>
